<header class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="desplegarMenu()">AC</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Alma Criolla<a routerLink="/home"></a></div>
    <button class="close-menu" *ngIf="collapsed" (click)="cerrarMenu()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li *ngFor="let data of navData" class="sidenav-nav-item">
      <a [routerLink]="[data.routeLink]" class="sidenav-nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span *ngIf="collapsed" @fadeInOut class="sidenav-link-text">{{data.label}}</span>
      </a>
    </li>
  </ul>
</header>