<h2>Lista de Tipos de Plato</h2>

<div class="search-container">
  <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" placeholder="Buscar por descripción de tipo de plato"
    class="search-box" type="text">
  <button (click)="onSearch()" class="search-button">
  </button>
</div>

<div class="tipos-plato-container">
  <div *ngFor="let tipoPlato of filteredTiposPlato" class="tipo-plato-item">
    <div class="card">
      <div class="tipo-plato-info">
        <span>{{ tipoPlato.descTPlato }}</span>
        <div class="tipo-plato-numero">
          <span><strong>ID:</strong> {{ tipoPlato.numPlato }}</span> 
        </div>
      </div>
    </div>
  </div>
</div>

