<h2>Lista de Tipos de Plato</h2>

<!-- Search box -->
<div class="search-container">
  <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" placeholder="Buscar por descripción de tipo de plato"
    class="search-box" type="text">
  <button (click)="onSearch()" class="search-button">
    <img src="https://cdn.icon-icons.com/icons2/2796/PNG/512/magnifier_search_magnifyng_glass_icon_178198.png"
      alt="Buscar">
  </button>
</div>

<!-- Contenedor para los tipos de platos -->
<div class="tipos-plato-container">
  <div *ngFor="let tipoPlato of filteredTiposPlato" class="tipo-plato-item">
    <div class="card">
      <div class="tipo-plato-info">
        <span>{{ tipoPlato.descTPlato }}</span> <!-- Muestra la descripción del tipo de plato -->
        <div class="tipo-plato-numero">
          <span><strong>ID:</strong> {{ tipoPlato.numPlato }}</span> <!-- Muestra el número del tipo de plato -->
        </div>
      </div>
    </div>
  </div>
</div>

