<h2>Lista de Proveedores</h2>

<!-- Search box --> 
<div class="search-container">
  <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" placeholder="Buscar por razon social"
    class="search-box" type="text">
  <button (click)="onSearch()" class="search-button">
    <img src="https://cdn.icon-icons.com/icons2/2796/PNG/512/magnifier_search_magnifyng_glass_icon_178198.png"
      alt="Buscar">
  </button>
</div>


      <!-- Contenedor para los proveedores -->
      <div class="pedidos-container">
        <div *ngFor="let proveedor of filteredProveedores" class="plato-item">
          <div class="card">
            <div class="plato-info">
              <span>{{ proveedor.razonSocial }}</span> 
              <div class="precio-cantidad">
                <div class="cantidad-container">
                </div>
              </div>
            </div>

      <!-- Detalles desplegables -->
      <div *ngIf="proveedor.mostrarDetalles" class="detalles">
        <p><strong>ID:</strong> {{ proveedor.id }}</p>
        <p><strong>CUIT:</strong> {{ proveedor.cuit }}</p> 
        <p><strong>Dirección:</strong> {{ proveedor.direccion }}</p>
        <p><strong>Ciudad:</strong> {{ proveedor.ciudad }}</p>
        <p><strong>Provincia:</strong> {{ proveedor.provincia }}</p>
        <p><strong>País:</strong> {{ proveedor.pais }}</p>
        <p><strong>Teléfono:</strong> {{ proveedor.telefono }}</p>
        <p><strong>Email:</strong> {{ proveedor.email }}</p>
      </div>
      <button (click)="toggleDetalles(proveedor)">
        {{ proveedor.mostrarDetalles ? 'Ocultar detalles' : 'Mostrar detalles' }}
      </button>
    </div>
  </div>
</div>



