.titulo {
  color: black;
  font-size: 1.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 7.7rem;
  margin-bottom: 1.2rem;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  padding-top: 3rem;
}

.detalles {
  width: 28rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registro {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adaptación para móviles */
@media (max-width: 768px) {
  .titulo {
    font-size: 1.4rem;
    padding-left: 2rem;
    /* Reducido para adaptarse a pantallas más pequeñas */
  }

  .contenedor {
    flex-direction: column;
    /* Los elementos se apilan en lugar de alinearse en una fila */
    padding-top: 1rem;
    /* Menos espacio arriba */
  }

  .detalles {
    width: 100%;
    /* Hace que el contenedor de detalles ocupe el 100% en pantallas pequeñas */
    padding: 0 1rem;
    /* Añade algo de relleno a los lados */
  }

  form {
    width: 100%;
    /* Hace que el formulario ocupe el 100% del ancho */
  }

  .registro {
    flex-direction: column;
    /* Alinea los elementos de registro verticalmente */
  }
}