.descPlato {
  margin-right: 12px;
}

.descTPlato {
  margin-left: 12px;
}

.platos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.flip-card-front {
  background-color: #7699ab;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #7699ab;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  margin: 0;
  max-height: 140px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

h3 {
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-box {
  flex: 1;
  padding: 10px 15px;
  border-radius: 25px;
  border: 2px solid #7699ab;
  font-size: 16px;
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: -40px;
}

.search-button img {
  width: 24px;
  height: 24px;
}

.search-button:hover {
  opacity: 0.8;
}

.search-box:focus {
  border-color: #004668;
}

.tags-container {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.tag {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #9ecde5;
  border: 1px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tag:hover {
  background-color: #e0e0e0;
}

.agregar {
  padding: 5px 10px; 
  border-radius: 20px; 
  background-color: #eeefa6; 
  border: 1px solid #000000; 
  cursor: pointer; 
  transition: background-color 0.3s; 

  &:hover {
    background-color: #e0e0e0; 
  }
}
