<h2>Tu Pedido</h2>

<!-- Contenedor para los platos -->
<div class="pedidos-container">
  <div *ngFor="let plato of pedidoPlatos" class="plato-item">
    <div class="card">
      <img *ngIf="plato.imagen" [src]="plato.imagen" alt="{{ plato.descripcion }}" class="plato-imagen">
      <div class="plato-info">
        <span>{{ plato.descripcion }}</span>
        <div class="precio-cantidad">
          <span>{{ plato.precio | currency }}</span>
          <div class="cantidad-container">
            <button class="btn-reducir" (click)="reducirCantidad(plato)">-</button>
            <span>{{ plato.cantidad || 0 }}</span>
            <button class="btn-aumentar" (click)="aumentarCantidad(plato)">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenedor para las bebidas -->
  <div *ngFor="let bebida of pedidoBebidas" class="bebida-item">
    <div class="card">
      <img *ngIf="bebida.imagen" [src]="bebida.imagen" alt="{{ bebida.descripcion }}" class="bebida-imagen">
      <div class="bebida-info">
        <span>{{ bebida.descripcion }}</span>
        <div class="precio-cantidad">
          <span>{{ bebida.precio | currency }}</span>
          <div class="cantidad-container">
            <button class="btn-reducir" (click)="reducirCantidadBebida(bebida)">-</button>
            <span>{{ bebida.cantidad || 0 }}</span>
            <button class="btn-aumentar" (click)="aumentarCantidadBebida(bebida)">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Total: {{ calcularTotal() | currency }}</h3>

<!-- Mostrar mensaje de éxito o error -->
<div *ngIf="mensaje" class="mensaje"
  [ngClass]="{'exito': mensaje.includes('exitosamente'), 'error': mensaje.includes('Error')}">
  {{ mensaje }}
</div>

<!-- Botones para actualizar, marcar como recibido y finalizar -->
<div class="btn-container">
  <button class="btn-actualizar" (click)="actualizarPedido()">Actualizar Pedido</button>
  <button class="btn-recibido" (click)="marcarComoRecibido()">Recibido</button>
  <button class="btn-finalizar" (click)="finalizarPedido()">Finalizar Pedido</button>
  <button (click)="cancelarPedido()">Cancelar Pedido</button>
</div>
