<h2>Tu Pedido</h2>

<div class="pedidos-container">
  <div *ngFor="let plato of pedidoPlatos" class="plato-item">
    <div class="card">
      <img *ngIf="plato.imagen" [src]="plato.imagen" alt="{{ plato.descripcion }}" class="plato-imagen">
      <div class="plato-info">
        <span>{{ plato.descripcion }}</span>
        <div class="precio-cantidad">
          <span>{{ plato.precio | currency }}</span>
        </div>
        <!-- Botón Recibido para cada plato, ahora pasamos nroPed -->
        <button class="btn-recibido" (click)="marcarPlatoComoRecibido(plato)">Recibido</button>
      </div>
    </div>
  </div>

  <div *ngFor="let bebida of pedidoBebidas" class="bebida-item">
    <div class="card">
      <img *ngIf="bebida.imagen" [src]="bebida.imagen" alt="{{ bebida.descripcion }}" class="bebida-imagen">
      <div class="bebida-info">
        <span>{{ bebida.descripcion }}</span>
        <div class="precio-cantidad">
          <span>{{ bebida.precio | currency }}</span>
        </div>
        <!-- Botón Recibido para cada bebida, ahora pasamos nroPed -->
        <button class="btn-recibido" (click)="marcarBebidaComoRecibida(bebida)">Recibido</button>
      </div>
    </div>
  </div>
</div>

<h3>Total: {{ calcularTotal() | currency }}</h3>

<div *ngIf="mensaje" class="mensaje"
  [ngClass]="{'exito': mensaje.includes('exitosamente'), 'error': mensaje.includes('Error')}">
  {{ mensaje }}
</div>

<div class="btn-container">
  <button class="btn-finalizar" (click)="finalizarPedido()">Finalizar Pedido</button>
  <button (click)="cancelarPedido()">Cancelar Pedido</button>
</div>