<h2>Lista de Tipos de Tarjeta</h2>

<div class="search-container">
  <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" placeholder="Buscar por descripción de tipo de tarjeta"
    class="search-box" type="text">
  <button (click)="onSearch()" class="search-button">
  </button>
</div>

<div class="tipos-tarjeta-container">
  <div *ngFor="let tipoTarjeta of filteredTiposTarjeta" class="tipo-tarjeta-item">
    <div class="card">
      <div class="tipo-tarjeta-info">
        <span>{{ tipoTarjeta.descTarjeta }}</span>
        <div class="tipo-tarjeta-numero">
          <span><strong>ID:</strong> {{ tipoTarjeta.idTarjeta }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

