<div class="register_box">
  <div class="register">
    <p class="titulo">Eliminar Ingrediente</p>

    <div *ngIf="mensaje" class="mensaje"
      [ngClass]="{'exito': mensaje.includes('exitosamente'), 'error': mensaje.includes('Error')}">
      {{ mensaje }}
    </div>

    <form [formGroup]="ingredienteForm" (ngSubmit)="enviar()">
      <text-input [control]="fc['codigo']" [mostrarErrores]="enviado" label="Codigo del ingrediente">
      </text-input>

      <default-button texto="Eliminar Ingrediente"></default-button>
    </form>
  </div>
</div>

