<div class="register_box">
  <div class="register">
    <p class="titulo">Eliminar Proveedor</p>

    <div *ngIf="mensaje" class="mensaje"
      [ngClass]="{'exito': mensaje.includes('exitosamente'), 'error': mensaje.includes('Error')}">
      {{ mensaje }}
    </div>

    <form [formGroup]="proveedorForm" (ngSubmit)="enviar()">
      <text-input [control]="fc['id']" [mostrarErrores]="enviado" label="ID del Proveedor">
      </text-input>

      <default-button texto="Eliminar Proveedor"></default-button>
    </form>
  </div>
</div>

