<h2>Lista de Elaboraciones</h2>

<div class="search-container">
  <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" placeholder="Buscar por descripción del plato"
    class="search-box" type="text">
  <button (click)="onSearch()" class="search-button">
    <img src="https://cdn.icon-icons.com/icons2/2796/PNG/512/magnifier_search_magnifyng_glass_icon_178198.png"
      alt="Buscar">
  </button>
</div>

<div class="platos-container">
  <div *ngFor="let plato of filteredPlatos" class="plato-item">
    <div class="card">
      <div class="plato-info">
        <span>{{ plato.descripcion }}</span>
      </div>

      <div *ngIf="plato.mostrarDetalles" class="detalles">
        <p><strong>Tiempo de Preparación:</strong> {{ plato.tiempo }} minutos</p>
        <h3>Ingredientes:</h3>
        <ul>
          <li *ngFor="let ingrediente of plato.ingredientes">
            {{ ingrediente.ingrediente.descIngre }} - {{ ingrediente.cantidadNecesaria }} {{
            ingrediente.ingrediente.unidadMedida }}
          </li>
        </ul>
      </div>

      <button (click)="toggleDetalles(plato)">
        {{ plato.mostrarDetalles ? 'Ocultar detalles' : 'Mostrar detalles' }}
      </button>
    </div>
  </div>
</div>






